In [2]:
import requests
from bs4 import BeautifulSoup

In [8]:
import pandas as pd
import numpy as np

In [3]:
URL = "https://www.olx.pl/d/praca/"
response = requests.get(URL)
soup = BeautifulSoup(response.content, "html.parser")
root = "https://www.olx.pl"

In [4]:
results = soup.find(id="root")

In [5]:
job_elements = results.find_all("div", class_="listing-grid-container css-d4ctjd")

Wszystkie tytuły

In [6]:
all_title_elements = results.find_all("div", class_="css-b7dwkg")
for all_title_element in all_title_elements:
    title_element = all_title_element.find("h6")
    all_title_elements_text=title_element.text.strip()
    print(all_title_elements_text)

Logista, spedytor
Odpisywanie na wiadomości - Praca zdalna
Kierowca zawodowy kategoria C+E  - 5500 na rękę, głównie krajówka
firma z Raciborza zatrudni operatora sprzętów budowlanych
Praca za granicą - wykończeniówka
Pracownik do spraw rozliczeń opakowań
STOLARZ / MONTAŻYSTA z doświadczeniem
Praca w mobilnej przyczepie gastronomicznej z Kebabem
Koordynator Zmiany ds. Utrzymania Czystości
Zatrudnię kierowce kat C+E
Asystentka / Asystent do zespołu księgowego
Pracownik Administracyjno-biurowy
Przedstawiciel Handlowy
Sprzedawca - sklep hydrauliczny
H.T.I. SZKŁO produkcja i montaż
Praca Manager/Kierownik prestiżowej Restauracji Włoskiej Bielsk
Pracownik Ochrony
WYSOKIE ZAROBKI /Promotor/Promotorka/ od zaraz
Zatrudnię kierowcę kategoria C
Pracownik ochrony - obiekt magazynowy - Płońsk​
Praca W Domu w 100% / Odpisywanie na Wiadomości / 2-3 godziny dziennie
Zastępca/zastępczyni kierownika sklepu - Wrocław Galeria Wroclavia
Specjalista/-tka ds. pozyskiwania klienta (j. niderlandzki)
Zatrudnimy osobę na zmywak
Nowy klub/ Wielkie otwarcie/ Promotor / od zaraz
Praca rejestratorka medyczna
Wychowawca w placówce opiekuńczo - wychowawczej
Szlifierz narządziowy

Ilość ofert wg poszczególnych miast z pierwszej strony

In [7]:
for job_element in job_elements:
    job_places_warszawa = job_element.find_all("p", string=lambda text: "warszawa" in text.lower())
    job_places_krakow = job_element.find_all("p", string=lambda text: "kraków" in text.lower())
    job_places_lodz = job_element.find_all("p", string=lambda text: "łódź" in text.lower())
    job_places_poznan = job_element.find_all("p", string=lambda text: "poznań" in text.lower())
    job_places_katowice = job_element.find_all("p", string=lambda text: "katowice" in text.lower())
    job_places_wroclaw = job_element.find_all("p", string=lambda text: "wrocław" in text.lower())

    len_warszawa_jobs = len(job_places_warszawa)
    print("Warszawa:",len_warszawa_jobs)

    len_krakow_jobs = len(job_places_krakow)
    print("Karaków:",len_krakow_jobs)

    len_lodz_jobs = len(job_places_lodz)
    print("Łódź:",len_lodz_jobs)

    len_poznan_jobs = len(job_places_poznan)
    print("Poznań:",len_poznan_jobs)

    len_katowice_jobs = len(job_places_katowice)
    print("Katowice",len_katowice_jobs)

    len_wroclaw_jobs = len(job_places_wroclaw)
    print("Wrocław",len_wroclaw_jobs)

Warszawa: 7
Karaków: 3
Łódź: 1
Poznań: 1
Katowice 1
Wrocław 3

In [9]:
cities=["Warszawa","Kraków","Łódź","Poznań","Katowice","Wrocław"]
numbers_of_jobs=[len_warszawa_jobs, len_krakow_jobs,len_lodz_jobs, len_poznan_jobs, len_katowice_jobs,len_wroclaw_jobs]

In [10]:
dict_cities = {'Cities':cities,'Offers':numbers_of_jobs}
df_cities = pd.DataFrame.from_dict(dict_cities)
#print(df_cities)
df_cities.to_csv('cities.csv', index=False)

Salary - Warszawa

In [11]:
url = "https://www.olx.pl/d/praca/warszawa/"
response_warszawa = requests.get(url)
soup = BeautifulSoup(response_warszawa.content, "html.parser")

In [12]:
results_warszawa = soup.find(id="root")

In [13]:
job_elements_warszawa = results_warszawa.find_all("div", {"class":"css-gx18fk"})
list_war = ""
for job_element_warszawa in job_elements_warszawa:
    job_salaries_warszawa = job_element_warszawa.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_warszawa != None:
        element = job_salaries_warszawa.text
        list_war += element + "\n"

In [14]:
print(list_war)

30 zł / godz. brutto
5 000 zł - 6 000 zł zł / mies. brutto
4 500 zł - 5 500 zł zł / mies. brutto
19 zł - 20 zł zł / godz. brutto
5 500 zł - 6 500 zł zł / mies. brutto
17 zł - 18 zł zł / godz. brutto
3 000 zł - 3 300 zł zł / mies. brutto
74,67 zł - 84,03 zł zł / godz. brutto
67,43 zł - 75,11 zł zł / godz. brutto
4 000 zł - 4 500 zł zł / mies. brutto
23 zł - 27 zł zł / godz. brutto
71 zł - 105 zł zł / godz. brutto
4 000 zł - 4 100 zł zł / mies. brutto
50 zł / godz. brutto
25 zł - 33 zł zł / godz. brutto
4 000 zł - 11 000 zł zł / mies. brutto
3 000 zł - 9 000 zł zł / mies. brutto
60 zł / godz. brutto
1 000 zł - 10 000 zł zł / mies. brutto
3 000 zł - 7 000 zł zł / mies. brutto
3 200 zł - 6 500 zł zł / mies. brutto
22 zł - 23 zł zł / godz. brutto
6 000 zł - 9 000 zł zł / mies. brutto
7 000 zł - 20 000 zł zł / mies. brutto
5 800 zł - 7 600 zł zł / mies. brutto
9 000 zł - 16 000 zł zł / mies. brutto
5 000 zł - 25 000 zł zł / mies. brutto
5 000 zł - 8 000 zł zł / mies. brutto
22,80 zł - 25 zł zł / godz. brutto
4 800 zł - 8 000 zł zł / mies. brutto
10 000 zł - 100 000 zł zł / mies. brutto
20 zł - 25 zł zł / godz. brutto

Warszawa salary df

In [15]:
salary_warszawa = list_war.splitlines()
print(salary_warszawa)

['30 zł / godz. brutto', '5 000 zł - 6 000 zł zł / mies. brutto', '4 500 zł - 5 500 zł zł / mies. brutto', '19 zł - 20 zł zł / godz. brutto', '5 500 zł - 6 500 zł zł / mies. brutto', '17 zł - 18 zł zł / godz. brutto', '3 000 zł - 3 300 zł zł / mies. brutto', '74,67 zł - 84,03 zł zł / godz. brutto', '67,43 zł - 75,11 zł zł / godz. brutto', '4 000 zł - 4 500 zł zł / mies. brutto', '23 zł - 27 zł zł / godz. brutto', '71 zł - 105 zł zł / godz. brutto', '4 000 zł - 4 100 zł zł / mies. brutto', '50 zł / godz. brutto', '25 zł - 33 zł zł / godz. brutto', '4 000 zł - 11 000 zł zł / mies. brutto', '3 000 zł - 9 000 zł zł / mies. brutto', '60 zł / godz. brutto', '1 000 zł - 10 000 zł zł / mies. brutto', '3 000 zł - 7 000 zł zł / mies. brutto', '3 200 zł - 6 500 zł zł / mies. brutto', '22 zł - 23 zł zł / godz. brutto', '6 000 zł - 9 000 zł zł / mies. brutto', '7 000 zł - 20 000 zł zł / mies. brutto', '5 800 zł - 7 600 zł zł / mies. brutto', '9 000 zł - 16 000 zł zł / mies. brutto', '5 000 zł - 25 000 zł zł / mies. brutto', '5 000 zł - 8 000 zł zł / mies. brutto', '22,80 zł - 25 zł zł / godz. brutto', '4 800 zł - 8 000 zł zł / mies. brutto', '10 000 zł - 100 000 zł zł / mies. brutto', '20 zł - 25 zł zł / godz. brutto']

In [16]:
dict_salary_warszawa = {'Salary':salary_warszawa}
df_salary_warszawa = pd.DataFrame(dict_salary_warszawa)

In [17]:
df_salary_warszawa[['salary_value','time']] = df_salary_warszawa.Salary.str.split("/",expand=True)

In [18]:
df_salary_warszawa[['salary_min','salary_max']] = df_salary_warszawa.salary_value.str.split("-",expand=True)

In [19]:
df_salary_warszawa['salary_min'] = df_salary_warszawa['salary_min'].str.replace(' zł', '')

In [20]:
df_salary_warszawa['salary_max'] = df_salary_warszawa['salary_max'].str.replace(' zł zł ', '')

In [21]:
df_salary_warszawa['salary_max'] = df_salary_warszawa['salary_max'].str.replace(' ', '')

In [22]:
df_salary_warszawa['salary_min'] = df_salary_warszawa['salary_min'].str.replace(' ', '')

In [23]:
df_salary_warszawa = df_salary_warszawa.fillna(value=np.nan)

In [24]:
df_salary_warszawa['salary_max'] = df_salary_warszawa['salary_max'].str.replace(',', '.')

In [25]:
df_salary_warszawa['salary_min'] = df_salary_warszawa['salary_min'].str.replace(',', '.')

In [26]:
del df_salary_warszawa['Salary']

In [27]:
del df_salary_warszawa['salary_value']

In [28]:
options_warszawa = [' godz. brutto']
df_warszawa_per_hour = df_salary_warszawa[df_salary_warszawa['time'].isin(options_warszawa)]

df_warszawa_per_hour.to_csv('df_warszawa_per_hour.csv', index=False)
df_warszawa_per_hour

             time salary_min salary_max
0    godz. brutto         30        NaN
3    godz. brutto         19         20
5    godz. brutto         17         18
7    godz. brutto      74.67      84.03
8    godz. brutto      67.43      75.11
10   godz. brutto         23         27
11   godz. brutto         71        105
13   godz. brutto         50        NaN
14   godz. brutto         25         33
17   godz. brutto         60        NaN
21   godz. brutto         22         23
28   godz. brutto      22.80         25
31   godz. brutto         20         25

salary per hour - Warszawa

In [29]:
del df_warszawa_per_hour['time']

In [30]:
df_warszawa_per_hour.to_csv('df_warszawa_per_hour.csv', index=False)

In [31]:
df_warszawa_per_hour = pd.read_csv('df_warszawa_per_hour.csv')

In [32]:
df_warszawa_per_hour_mean_min = df_warszawa_per_hour[['salary_min']].mean()
print(df_warszawa_per_hour_mean_min)

salary_min    38.607692
dtype: float64

In [33]:
df_warszawa_per_hour.loc[(df_warszawa_per_hour['salary_max'].isnull())]

   salary_min  salary_max
0        30.0         NaN
7        50.0         NaN
9        60.0         NaN

In [34]:
# create missing indicator for features with missing data
for col in df_warszawa_per_hour.columns:
    missing = df_warszawa_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_warszawa_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_warszawa_per_hour.columns if 'ismissing' in col]
df_warszawa_per_hour['num_missing'] = df_warszawa_per_hour[ismissing_cols].sum(axis=1)

created missing indicator for: salary_max

In [35]:
ind_missing = df_warszawa_per_hour[df_warszawa_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_warszawa_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_warszawa_per_hour = df_warszawa_per_hour.drop(ind_missing, axis=0)
print(df_warszawa_per_hour)

    salary_min  salary_max  salary_max_ismissing  num_missing
1        19.00       20.00                 False            0
2        17.00       18.00                 False            0
3        74.67       84.03                 False            0
4        67.43       75.11                 False            0
5        23.00       27.00                 False            0
6        71.00      105.00                 False            0
8        25.00       33.00                 False            0
10       22.00       23.00                 False            0
11       22.80       25.00                 False            0
12       20.00       25.00                 False            0

In [36]:
df_warszawa_per_hour.loc[(df_warszawa_per_hour['salary_max'].isnull())]

Empty DataFrame
Columns: [salary_min, salary_max, salary_max_ismissing, num_missing]
Index: []

In [37]:
cols_to_drop = ['salary_max_ismissing']
df_warszawa_per_hour = df_warszawa_per_hour.drop(cols_to_drop, axis=1)

In [38]:
df_warszawa_per_hour_mean_max = df_warszawa_per_hour[['salary_max']].mean()
print(df_warszawa_per_hour_mean_max)

salary_max    43.514
dtype: float64

Salary per months

In [39]:
options_warszawa = [' mies. brutto']
df_warszawa_per_month = df_salary_warszawa[df_salary_warszawa['time'].isin(options_warszawa)]
df_warszawa_per_month

             time salary_min salary_max
1    mies. brutto       5000       6000
2    mies. brutto       4500       5500
4    mies. brutto       5500       6500
6    mies. brutto       3000       3300
9    mies. brutto       4000       4500
12   mies. brutto       4000       4100
15   mies. brutto       4000      11000
16   mies. brutto       3000       9000
18   mies. brutto       1000      10000
19   mies. brutto       3000       7000
20   mies. brutto       3200       6500
22   mies. brutto       6000       9000
23   mies. brutto       7000      20000
24   mies. brutto       5800       7600
25   mies. brutto       9000      16000
26   mies. brutto       5000      25000
27   mies. brutto       5000       8000
29   mies. brutto       4800       8000
30   mies. brutto      10000     100000

In [40]:
del df_warszawa_per_month['time']

In [41]:
df_warszawa_per_month.to_csv('df_warszawa_per_month.csv', index=False)

In [42]:
df_warszawa_per_month = pd.read_csv('df_warszawa_per_month.csv')

In [43]:
df_warszawa_per_month_mean_min = df_warszawa_per_month[['salary_min']].mean()
print(df_warszawa_per_month_mean_min)

salary_min    4884.210526
dtype: float64

In [44]:
df_warszawa_per_month_mean_max = df_warszawa_per_month[['salary_max']].mean()
print(df_warszawa_per_month_mean_max)

salary_max    14052.631579
dtype: float64

Salary Kraków

In [45]:
url = "https://www.olx.pl/d/praca/krakow/"
response_krakow = requests.get(url)
soup = BeautifulSoup(response_krakow.content, "html.parser")

results_krakow = soup.find(id="root")

job_elements_krakow = results_krakow.find_all("div", {"class":"css-gx18fk"})
list_kra = ""
for job_element_krakow in job_elements_krakow:
    job_salaries_krakow = job_element_krakow.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_krakow != None:
        element = job_salaries_krakow.text
        list_kra += element + "\n"
		
salary_krakow = list_kra.splitlines()

dict_salary_krakow = {'Salary':salary_krakow}
df_salary_krakow = pd.DataFrame(dict_salary_krakow)

df_salary_krakow[['salary_value','time']] = df_salary_krakow.Salary.str.split("/",expand=True)

df_salary_krakow[['salary_min','salary_max']] = df_salary_krakow.salary_value.str.split("-",expand=True)

df_salary_krakow['salary_min'] = df_salary_krakow['salary_min'].str.replace(' zł', '')

df_salary_krakow['salary_max'] = df_salary_krakow['salary_max'].str.replace(' zł zł ', '')

df_salary_krakow['salary_max'] = df_salary_krakow['salary_max'].str.replace(' ', '')

df_salary_krakow['salary_min'] = df_salary_krakow['salary_min'].str.replace(' ', '')

df_salary_krakow = df_salary_krakow.fillna(value=np.nan)

df_salary_krakow['salary_max'] = df_salary_krakow['salary_max'].str.replace(',', '.')

df_salary_krakow['salary_min'] = df_salary_krakow['salary_min'].str.replace(',', '.')

del df_salary_krakow['Salary']

del df_salary_krakow['salary_value']

options_krakow = [' godz. brutto']
df_krakow_per_hour = df_salary_krakow[df_salary_krakow['time'].isin(options_krakow)]
df_krakow_per_hour.to_csv('df_krakow_per_hour.csv', index=False)
df_krakow_per_hour

del df_krakow_per_hour['time']

df_krakow_per_hour.to_csv('df_krakow_per_hour.csv', index=False)

df_krakow_per_hour = pd.read_csv('df_krakow_per_hour.csv')

df_krakow_per_hour_mean_min = df_krakow_per_hour[['salary_min']].mean()
print(df_krakow_per_hour_mean_min)

df_krakow_per_hour.loc[(df_krakow_per_hour['salary_max'].isnull())]


# create missing indicator for features with missing data
for col in df_krakow_per_hour.columns:
    missing = df_krakow_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_krakow_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_krakow_per_hour.columns if 'ismissing' in col]
df_krakow_per_hour['num_missing'] = df_krakow_per_hour[ismissing_cols].sum(axis=1)



ind_missing = df_krakow_per_hour[df_krakow_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_krakow_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_krakow_per_hour = df_krakow_per_hour.drop(ind_missing, axis=0)
print(df_krakow_per_hour)

df_krakow_per_hour.loc[(df_krakow_per_hour['salary_max'].isnull())]

#cols_to_drop = ['salary_max_ismissing']
#df_krakow_per_hour = df_krakow_per_hour.drop(cols_to_drop, axis=1)

df_krakow_per_hour_mean_max = df_krakow_per_hour[['salary_max']].mean()
print(df_krakow_per_hour_mean_max)


options_krakow = [' mies. brutto']
df_krakow_per_month = df_salary_krakow[df_salary_krakow['time'].isin(options_krakow)]
df_krakow_per_month

del df_krakow_per_month['time']

df_krakow_per_month.to_csv('df_krakow_per_month.csv', index=False)

df_krakow_per_month = pd.read_csv('df_krakow_per_month.csv')

df_krakow_per_month_mean_min = df_krakow_per_month[['salary_min']].mean()
print(df_krakow_per_month_mean_min)

df_krakow_per_month_mean_max = df_krakow_per_month[['salary_max']].mean()
print(df_krakow_per_month_mean_max)

salary_min    23.548333
dtype: float64
   salary_min  salary_max  num_missing
0       23.00        24.0          0.0
1       28.00        35.0          0.0
2       21.50        25.7          0.0
3       23.00        24.0          0.0
4       20.80        26.0          0.0
5       24.99        25.0          0.0
salary_max    26.616667
dtype: float64
salary_min    4307.636364
dtype: float64
salary_max    8166.727273
dtype: float64

Salary Łódź

In [46]:
url = "https://www.olx.pl/d/praca/lodz/"
response_lodz = requests.get(url)
soup = BeautifulSoup(response_lodz.content, "html.parser")

results_lodz = soup.find(id="root")

job_elements_lodz = results_lodz.find_all("div", {"class":"css-gx18fk"})
list_lodz = ""
for job_element_lodz in job_elements_lodz:
    job_salaries_lodz = job_element_lodz.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_lodz != None:
        element = job_salaries_lodz.text
        list_lodz += element + "\n"
		
salary_lodz = list_lodz.splitlines()

dict_salary_lodz = {'Salary':salary_lodz}
df_salary_lodz = pd.DataFrame(dict_salary_lodz)

df_salary_lodz[['salary_value','time']] = df_salary_lodz.Salary.str.split("/",expand=True)

df_salary_lodz[['salary_min','salary_max']] = df_salary_lodz.salary_value.str.split("-",expand=True)

df_salary_lodz['salary_min'] = df_salary_lodz['salary_min'].str.replace(' zł', '')

df_salary_lodz['salary_max'] = df_salary_lodz['salary_max'].str.replace(' zł zł ', '')

df_salary_lodz['salary_max'] = df_salary_lodz['salary_max'].str.replace(' ', '')

df_salary_lodz['salary_min'] = df_salary_lodz['salary_min'].str.replace(' ', '')

df_salary_lodz = df_salary_lodz.fillna(value=np.nan)

df_salary_lodz['salary_max'] = df_salary_lodz['salary_max'].str.replace(',', '.')

df_salary_lodz['salary_min'] = df_salary_lodz['salary_min'].str.replace(',', '.')

del df_salary_lodz['Salary']

del df_salary_lodz['salary_value']

options_lodz = [' godz. brutto']
df_lodz_per_hour = df_salary_lodz[df_salary_lodz['time'].isin(options_lodz)]
df_lodz_per_hour.to_csv('df_lodz_per_hour.csv', index=False)
df_lodz_per_hour

del df_lodz_per_hour['time']

df_lodz_per_hour.to_csv('df_lodz_per_hour.csv', index=False)

df_lodz_per_hour = pd.read_csv('df_lodz_per_hour.csv')

df_lodz_per_hour_mean_min = df_lodz_per_hour[['salary_min']].mean()
print(df_lodz_per_hour_mean_min)

df_lodz_per_hour.loc[(df_lodz_per_hour['salary_max'].isnull())]


# create missing indicator for features with missing data
for col in df_lodz_per_hour.columns:
    missing = df_lodz_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_lodz_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_lodz_per_hour.columns if 'ismissing' in col]
df_lodz_per_hour['num_missing'] = df_lodz_per_hour[ismissing_cols].sum(axis=1)



ind_missing = df_lodz_per_hour[df_lodz_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_lodz_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_lodz_per_hour = df_lodz_per_hour.drop(ind_missing, axis=0)
print(df_lodz_per_hour)

df_lodz_per_hour.loc[(df_lodz_per_hour['salary_max'].isnull())]

cols_to_drop = ['salary_max_ismissing']
df_lodz_per_hour = df_lodz_per_hour.drop(cols_to_drop, axis=1)

df_lodz_per_hour_mean_max = df_lodz_per_hour[['salary_max']].mean()
print(df_lodz_per_hour_mean_max)


options_lodz = [' mies. brutto']
df_lodz_per_month = df_salary_lodz[df_salary_lodz['time'].isin(options_lodz)]
df_lodz_per_month

del df_lodz_per_month['time']

df_lodz_per_month.to_csv('df_lodz_per_month.csv', index=False)

df_lodz_per_month = pd.read_csv('df_lodz_per_month.csv')

df_lodz_per_month_mean_min = df_lodz_per_month[['salary_min']].mean()
print(df_lodz_per_month_mean_min)

df_lodz_per_month_mean_max = df_lodz_per_month[['salary_max']].mean()
print(df_lodz_per_month_mean_max)

salary_min    24.083333
dtype: float64
created missing indicator for: salary_max
   salary_min  salary_max  salary_max_ismissing  num_missing
0        23.0        35.0                 False            0
1        30.0        45.0                 False            0
2        17.0        18.0                 False            0
3        32.0        35.0                 False            0
5        22.8        23.0                 False            0
salary_max    31.2
dtype: float64
salary_min    4855.555556
dtype: float64
salary_max    8211.764706
dtype: float64

Poznań

In [47]:
url = "https://www.olx.pl/d/praca/poznan/"
response_poznan = requests.get(url)
soup = BeautifulSoup(response_poznan.content, "html.parser")

results_poznan = soup.find(id="root")

job_elements_poznan = results_poznan.find_all("div", {"class":"css-gx18fk"})
list_poznan = ""
for job_element_poznan in job_elements_poznan:
    job_salaries_poznan = job_element_poznan.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_poznan != None:
        element = job_salaries_poznan.text
        list_poznan += element + "\n"
		
salary_poznan = list_poznan.splitlines()

dict_salary_poznan = {'Salary':salary_poznan}
df_salary_poznan = pd.DataFrame(dict_salary_poznan)

df_salary_poznan[['salary_value','time']] = df_salary_poznan.Salary.str.split("/",expand=True)

df_salary_poznan[['salary_min','salary_max']] = df_salary_poznan.salary_value.str.split("-",expand=True)

df_salary_poznan['salary_min'] = df_salary_poznan['salary_min'].str.replace(' zł', '')

df_salary_poznan['salary_max'] = df_salary_poznan['salary_max'].str.replace(' zł zł ', '')

df_salary_poznan['salary_max'] = df_salary_poznan['salary_max'].str.replace(' ', '')

df_salary_poznan['salary_min'] = df_salary_poznan['salary_min'].str.replace(' ', '')

df_salary_poznan = df_salary_poznan.fillna(value=np.nan)

df_salary_poznan['salary_max'] = df_salary_poznan['salary_max'].str.replace(',', '.')

df_salary_poznan['salary_min'] = df_salary_poznan['salary_min'].str.replace(',', '.')

del df_salary_poznan['Salary']

del df_salary_poznan['salary_value']

options_poznan = [' godz. brutto']
df_poznan_per_hour = df_salary_poznan[df_salary_poznan['time'].isin(options_poznan)]
df_poznan_per_hour.to_csv('df_poznan_per_hour.csv', index=False)
df_poznan_per_hour

del df_poznan_per_hour['time']

df_poznan_per_hour.to_csv('df_poznan_per_hour.csv', index=False)

df_poznan_per_hour = pd.read_csv('df_poznan_per_hour.csv')

df_poznan_per_hour_mean_min = df_poznan_per_hour[['salary_min']].mean()
print(df_poznan_per_hour_mean_min)

df_poznan_per_hour.loc[(df_poznan_per_hour['salary_max'].isnull())]


# create missing indicator for features with missing data
for col in df_poznan_per_hour.columns:
    missing = df_poznan_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_poznan_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_poznan_per_hour.columns if 'ismissing' in col]
df_poznan_per_hour['num_missing'] = df_poznan_per_hour[ismissing_cols].sum(axis=1)



ind_missing = df_poznan_per_hour[df_poznan_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_poznan_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_poznan_per_hour = df_poznan_per_hour.drop(ind_missing, axis=0)
#print(df_poznan_per_hour)

df_poznan_per_hour.loc[(df_poznan_per_hour['salary_max'].isnull())]

#cols_to_drop = ['salary_max_ismissing']
#df_poznan_per_hour = df_poznan_per_hour.drop(cols_to_drop, axis=1)

df_poznan_per_hour_mean_max = df_poznan_per_hour[['salary_max']].mean()
print(df_poznan_per_hour_mean_max)


options_poznan = [' mies. brutto']
df_poznan_per_month = df_salary_poznan[df_salary_poznan['time'].isin(options_poznan)]
df_poznan_per_month

del df_poznan_per_month['time']

df_poznan_per_month.to_csv('df_poznan_per_month.csv', index=False)

df_poznan_per_month = pd.read_csv('df_poznan_per_month.csv')

df_poznan_per_month_mean_min = df_poznan_per_month[['salary_min']].mean()
print(df_poznan_per_month_mean_min)

df_poznan_per_month_mean_max = df_poznan_per_month[['salary_max']].mean()
print(df_poznan_per_month_mean_max)

salary_min    22.828571
dtype: float64
created missing indicator for: salary_max
salary_max    25.135
dtype: float64
salary_min    5200.0
dtype: float64
salary_max    12700.0
dtype: float64

Katowice

In [48]:
url = "https://www.olx.pl/d/praca/katowice/"
response_katowice = requests.get(url)
soup = BeautifulSoup(response_katowice.content, "html.parser")

results_katowice = soup.find(id="root")

job_elements_katowice = results_katowice.find_all("div", {"class":"css-gx18fk"})
list_katowice = ""
for job_element_katowice in job_elements_katowice:
    job_salaries_katowice = job_element_katowice.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_katowice != None:
        element = job_salaries_katowice.text
        list_katowice += element + "\n"
		
salary_katowice = list_katowice.splitlines()

dict_salary_katowice = {'Salary':salary_katowice}
df_salary_katowice = pd.DataFrame(dict_salary_katowice)

df_salary_katowice[['salary_value','time']] = df_salary_katowice.Salary.str.split("/",expand=True)

df_salary_katowice[['salary_min','salary_max']] = df_salary_katowice.salary_value.str.split("-",expand=True)

df_salary_katowice['salary_min'] = df_salary_katowice['salary_min'].str.replace(' zł', '')

df_salary_katowice['salary_max'] = df_salary_katowice['salary_max'].str.replace(' zł zł ', '')

df_salary_katowice['salary_max'] = df_salary_katowice['salary_max'].str.replace(' ', '')

df_salary_katowice['salary_min'] = df_salary_katowice['salary_min'].str.replace(' ', '')

df_salary_katowice = df_salary_katowice.fillna(value=np.nan)

df_salary_katowice['salary_max'] = df_salary_katowice['salary_max'].str.replace(',', '.')

df_salary_katowice['salary_min'] = df_salary_katowice['salary_min'].str.replace(',', '.')

del df_salary_katowice['Salary']

del df_salary_katowice['salary_value']

options_katowice = [' godz. brutto']
df_katowice_per_hour = df_salary_katowice[df_salary_katowice['time'].isin(options_katowice)]
df_katowice_per_hour.to_csv('df_katowice_per_hour.csv', index=False)
df_katowice_per_hour

del df_katowice_per_hour['time']

df_katowice_per_hour.to_csv('df_katowice_per_hour.csv', index=False)

df_katowice_per_hour = pd.read_csv('df_katowice_per_hour.csv')

df_katowice_per_hour_mean_min = df_katowice_per_hour[['salary_min']].mean()
print(df_katowice_per_hour_mean_min)

df_katowice_per_hour.loc[(df_katowice_per_hour['salary_max'].isnull())]


# create missing indicator for features with missing data
for col in df_katowice_per_hour.columns:
    missing = df_katowice_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_katowice_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_katowice_per_hour.columns if 'ismissing' in col]
df_katowice_per_hour['num_missing'] = df_katowice_per_hour[ismissing_cols].sum(axis=1)



ind_missing = df_katowice_per_hour[df_katowice_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_katowice_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_katowice_per_hour = df_katowice_per_hour.drop(ind_missing, axis=0)
#print(df_katowice_per_hour)

df_katowice_per_hour.loc[(df_katowice_per_hour['salary_max'].isnull())]

cols_to_drop = ['num_missing']
df_katowice_per_hour = df_katowice_per_hour.drop(cols_to_drop, axis=1)

df_katowice_per_hour_mean_max = df_katowice_per_hour[['salary_max']].mean()
print(df_katowice_per_hour_mean_max)


options_katowice = [' mies. brutto']
df_katowice_per_month = df_salary_katowice[df_salary_katowice['time'].isin(options_katowice)]
df_katowice_per_month

del df_katowice_per_month['time']

df_katowice_per_month.to_csv('df_katowice_per_month.csv', index=False)

df_katowice_per_month = pd.read_csv('df_katowice_per_month.csv')

df_katowice_per_month_mean_min = df_katowice_per_month[['salary_min']].mean()
print(df_katowice_per_month_mean_min)

df_katowice_per_month_mean_max = df_katowice_per_month[['salary_max']].mean()
print(df_katowice_per_month_mean_max)

salary_min    22.933333
dtype: float64
salary_max    26.266667
dtype: float64
salary_min    4497.571429
dtype: float64
salary_max    7373.5
dtype: float64

Wrocław

In [49]:
url = "https://www.olx.pl/d/praca/wroclaw/"
response_wroclaw = requests.get(url)
soup = BeautifulSoup(response_wroclaw.content, "html.parser")

results_wroclaw = soup.find(id="root")

job_elements_wroclaw = results_wroclaw.find_all("div", {"class":"css-gx18fk"})
list_wroclaw = ""
for job_element_wroclaw in job_elements_wroclaw:
    job_salaries_wroclaw = job_element_wroclaw.find("p", class_="css-16ldsa0 er34gjf0")
    if job_salaries_wroclaw != None:
        element = job_salaries_wroclaw.text
        list_wroclaw += element + "\n"
		
salary_wroclaw = list_wroclaw.splitlines()

dict_salary_wroclaw = {'Salary':salary_wroclaw}
df_salary_wroclaw = pd.DataFrame(dict_salary_wroclaw)

df_salary_wroclaw[['salary_value','time']] = df_salary_wroclaw.Salary.str.split("/",expand=True)

df_salary_wroclaw[['salary_min','salary_max']] = df_salary_wroclaw.salary_value.str.split("-",expand=True)

df_salary_wroclaw['salary_min'] = df_salary_wroclaw['salary_min'].str.replace(' zł', '')

df_salary_wroclaw['salary_max'] = df_salary_wroclaw['salary_max'].str.replace(' zł zł ', '')

df_salary_wroclaw['salary_max'] = df_salary_wroclaw['salary_max'].str.replace(' ', '')

df_salary_wroclaw['salary_min'] = df_salary_wroclaw['salary_min'].str.replace(' ', '')

df_salary_wroclaw = df_salary_wroclaw.fillna(value=np.nan)

df_salary_wroclaw['salary_max'] = df_salary_wroclaw['salary_max'].str.replace(',', '.')

df_salary_wroclaw['salary_min'] = df_salary_wroclaw['salary_min'].str.replace(',', '.')

del df_salary_wroclaw['Salary']

del df_salary_wroclaw['salary_value']

options_wroclaw = [' godz. brutto']
df_wroclaw_per_hour = df_salary_wroclaw[df_salary_wroclaw['time'].isin(options_wroclaw)]
df_wroclaw_per_hour.to_csv('df_wroclaw_per_hour.csv', index=False)
df_wroclaw_per_hour

del df_wroclaw_per_hour['time']

df_wroclaw_per_hour.to_csv('df_wroclaw_per_hour.csv', index=False)

df_wroclaw_per_hour = pd.read_csv('df_wroclaw_per_hour.csv')

df_wroclaw_per_hour_mean_min = df_wroclaw_per_hour[['salary_min']].mean()
print(df_wroclaw_per_hour_mean_min)

df_wroclaw_per_hour.loc[(df_wroclaw_per_hour['salary_max'].isnull())]


# create missing indicator for features with missing data
for col in df_wroclaw_per_hour.columns:
    missing = df_wroclaw_per_hour[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_wroclaw_per_hour['{}_ismissing'.format(col)] = missing

ismissing_cols = [col for col in df_wroclaw_per_hour.columns if 'ismissing' in col]
df_wroclaw_per_hour['num_missing'] = df_wroclaw_per_hour[ismissing_cols].sum(axis=1)



ind_missing = df_wroclaw_per_hour[df_wroclaw_per_hour['num_missing'] > 0].index

# Przepisujemy do zmiennej df_wroclaw_per_hour tylko obserwacje gdzie num_missing jest większe od 0
df_wroclaw_per_hour = df_wroclaw_per_hour.drop(ind_missing, axis=0)
#print(df_wroclaw_per_hour)

df_wroclaw_per_hour.loc[(df_wroclaw_per_hour['salary_max'].isnull())]

#cols_to_drop = ['salary_max_ismissing']
#df_wroclaw_per_hour = df_wroclaw_per_hour.drop(cols_to_drop, axis=1)

df_wroclaw_per_hour_mean_max = df_wroclaw_per_hour[['salary_max']].mean()
print(df_wroclaw_per_hour_mean_max)


options_wroclaw = [' mies. brutto']
df_wroclaw_per_month = df_salary_wroclaw[df_salary_wroclaw['time'].isin(options_wroclaw)]
df_wroclaw_per_month

del df_wroclaw_per_month['time']

df_wroclaw_per_month.to_csv('df_wroclaw_per_month.csv', index=False)

df_wroclaw_per_month = pd.read_csv('df_wroclaw_per_month.csv')

df_wroclaw_per_month_mean_min = df_wroclaw_per_month[['salary_min']].mean()
print(df_wroclaw_per_month_mean_min)

df_wroclaw_per_month_mean_max = df_wroclaw_per_month[['salary_max']].mean()
print(df_wroclaw_per_month_mean_max)

salary_min    24.027273
dtype: float64
salary_max    31.518182
dtype: float64
salary_min    4506.933333
dtype: float64
salary_max    12711.904762
dtype: float64

Comperison of salary

In [50]:
import matplotlib.pyplot as plt